.button {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: #dedede;
}

.button.darker {
    -fx-background-color: #e0e0e0;
}

.button.darker:hover {
    -fx-background-color: #cecece;
}

#header {
    -fx-background-color: #fefefe;

    /* add bottom border */
    -fx-border-width: 1;
    -fx-border-color: #dedede;
    -fx-border-style: none none solid none;
}

#recipeList {
    -fx-background-color: #fefefe;
}

#scroll-pane {
    /* remove border */
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#footer {
    -fx-background-color: #fefefe;

    /* add top border */
    -fx-border-width: 1;
    -fx-border-color: #dedede;
    -fx-border-style: solid none none none;
}

.recipe {
    -fx-background-color: #f0f0f0;
    -fx-background-radius: 4;
}