.defaultBackground,
#recipeList,
#main .header,
#main .footer,
#newRecipe,
#newRecipe .header,
#newRecipe .footer,
#auth {
  -fx-background-color: #fefefe;
}

.subheading {
  -fx-font-size: 16pt;
  -fx-font-family: "PP Eiko Medium";
}

.button {
  -fx-background-color: #f0f0f0;
  -fx-background-radius: 4;
}

.button:hover {
  -fx-background-color: #dedede;
}

.button.darker {
  -fx-background-color: #e0e0e0;
}

.button.darker:hover {
  -fx-background-color: #cecece;
}

.toggleButton {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
}

.toggleButton#breakfastToggleButton {
  -fx-background-radius: 6px 0 0 6px;
}

.toggleButton#dinnerToggleButton {
  -fx-background-radius: 0 6px 6px 0;
}

.toggleButton:hover {
  -fx-background-color: #dedede;
}

.toggleButton:selected {
  -fx-background-color: #1b1b1b;
  -fx-text-fill: #fefefe;
}

.scrollPane {
  /* remove border */
  -fx-background-insets: 0;
  -fx-padding: 0;
}

.scroll-pane > .viewport {
  -fx-background-color: transparent;
}

#main .header {
  /* add bottom border */
  -fx-border-width: 1;
  -fx-border-color: #dedede;
  -fx-border-style: hidden hidden solid hidden;
}

#main .footer {
  /* add top border */
  -fx-border-width: 1;
  -fx-border-color: #dedede;
  -fx-border-style: solid none none none;
}

.recipePane,
#recipeImage {
  -fx-background-color: #f0f0f0;
  -fx-background-size: 100%;
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
}

/**
 * newRecipe
*/

#newRecipe .header {
  /* add bottom border */
  -fx-border-width: 1;
  -fx-border-color: #dedede;
  -fx-border-style: hidden hidden solid hidden;
}

#startRecording {
  -fx-background-color: #9ccc65;
  -fx-background-radius: 8;
}

#stopRecording {
  -fx-background-color: #ffa726;
  -fx-background-radius: 8;
}
